<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--用第三种方式的时候这里的namespace需要对应到具体的接口实现类-->
<mapper namespace="mapper.UserMapper">
    <select id="getUserById" resultType="User">
        select * from user where id=#{id}
    </select>

    <select id="getUsers" resultType="User">
        select * from user
    </select>

    <update id="updateUser" parameterType="user">
        update user
        <set>
        <if test="username!=null">
            username=#{username},
        </if>
        <if test="password!=null">
            password=#{password},
        </if>
        <if test="age!=null">
            age=#{age},
        </if>
        <if test="email!=null">
            email=#{email},
        </if>
        <if test="phone!=null">
            phone=#{phone}
        </if>
        </set>
        where username=#{username}
    </update>

    <insert id="saveUser" parameterType="user">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="isAdmin!=null">
                isAdmin,
            </if>
            <if test="username!=null">
                username,
            </if>
            <if test="password!=null">
                password,
            </if>
            <if test="sex!=null">
                sex,
            </if>
            <if test="address!=null">
                address,
            </if>
            <if test="studyDirection!=null">
                study_direction,
            </if>
            <if test="phone!=null">
                phone,
            </if>
            <if test="email!=null">
                email
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="isAdmin!=null">
                #{isAdmin},
            </if>
            <if test="username!=null">
                #{username},
            </if>
            <if test="password!=null">
                #{password},
            </if>
            <if test="sex!=null">
                #{sex},
            </if>
            <if test="address!=null">
                #{address},
            </if>
            <if test="studyDirection!=null">
                #{studyDirection},
            </if>
            <if test="phone!=null">
                #{phone},
            </if>
            <if test="email!=null">
                #{email}
            </if>
        </trim>
    </insert>

    <select id="loginUser" parameterType="user" resultType="Integer">
        select count(*) from user where username=#{username} and password=#{password}
    </select>

    <select id="findUserInfoByUsername" resultType="user">
        select id,isAdmin,username,sex,age,address,avatar,study_direction,phone,email,motto,account from user where username=#{username}
    </select>

    <update id="updateAvatar" parameterType="user">
        update user set avatar=#{avatar} where username=#{username}
    </update>

    <select id="selectMyCourses" resultType="course">
        select * from course where id in(select course_id from user_buy_course where user_id=#{id})
    </select>

    <select id="selectMyCollects" resultType="course">
        select * from course where id in(select course_id from user_collect_course where user_id=#{id})
    </select>

    <select id="isCollectCourse" resultType="Integer">
        select id from user_collect_course where user_id=#{uid} and course_id=#{cid}
    </select>
    <insert id="userCollectCourse">
        insert user_collect_course(user_id,course_id) values(#{uid},#{cid})
    </insert>
    <delete id="delCollectCourse">
        delete from user_collect_course where user_id=#{uid} and course_id=#{cid}
    </delete>

    <select id="isFocusTeacher" resultType="Integer">
        select id from user_teacher where user_id=#{uid} and teacher_id=#{tid}
    </select>
    <insert id="userFocusTeacher">
        insert user_teacher(user_id,teacher_id) values(#{uid},#{tid})
    </insert>
    <delete id="delFocusTeacher">
        delete from user_teacher where user_id=#{uid} and teacher_id=#{tid}
    </delete>
</mapper>